@import './_variables';
@import './_nav';

html {
    background: white;
}

body {
    height: 100%;
    margin:0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    background: white;
    flex: 9;
    width: 100%;
    height: 100%;
    margin: 1em 3em;

    .page-title {
        font-weight: lighter;
    }
    
    .hero {
        height: 100%;
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 0;
        display: flex;
        padding-right: 6em;

        a {
            flex: 8;
            padding-top: 4em;
            padding-bottom: 4em;
            text-align: center;
            border: 1px solid $light-accent;
            border-radius: 2em;
        }
        .spacer {
            flex: 1;
        }

    }

}
